                                     Assignment  pandas

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
    variable print it.

In [2]:
import pandas as pd

my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
series_from_list = pd.Series(my_list)

print(series_from_list)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    Name
    Alice
    Bob
    Claire

    age
    25
    30
    27

    Gender
    Female
    Male
    Female
    
    Then, print the DataFrame.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [6]:
    """   A DataFrame in pandas is a two-dimensional tabular data structure with labeled axes.
       It is a collection of Series objects, each of which is a one-dimensional array of data.
        DataFrames can have multiple columns, and the columns can be of different data types.
        
        A Series in pandas is a one-dimensional tabular data structure with labeled index.
        It is a single column of a DataFrame. Series can only have one column, and the values
        in the Series must be of the same data type.  """


import pandas as pd

data = {
    'Name': ['Anita', 'rajiv', 'sonu'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)


ages = pd.Series([25, 30, 27], name='Age')


print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)
       
"""   In this example, the DataFrame 'df' contains multiple columns ('Name', 'Age', 'Gender') and represents a tabular structure.
      The Series 'ages' contains only the 'Age' column with an associated index, and it represents a single column of data without
      the tabular structure. While both Series and DataFrame can be used for data analysis, a DataFrame is typically used
      for more complex analyses involving multiple variables and operations, while a Series is useful for one-dimensional
      data or when focusing on a single column of a DataFrame """

DataFrame:
    Name  Age  Gender
0  Anita   25  Female
1  rajiv   30    Male
2   sonu   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

"   In this example, the DataFrame 'df' contains multiple columns ('Name', 'Age', 'Gender') and represents a tabular structure.\n  The Series 'ages' contains only the 'Age' column with an associated index, and it represents a single column of data without\n  the tabular structure. While both Series and DataFrame can be used for data analysis, a DataFrame is typically used\n  for more complex analyses involving multiple variables and operations, while a Series is useful for one-dimensional\n  data or when focusing on a single column of a DataFrame "

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
    you give an example of when you might use one of these functions?

In [7]:
 """Filtering and Selection:

1.'df[...] 'or' 'df.loc[...]': Select specific rows and columns based on labels or
  boolean conditions.
  > 'df.iloc[...]': Select rows and columns based on integer positions.
2.Sorting:

  'df.sort_values()': Sort the DataFrame by specified columns.
  'df.sort_index()': Sort the DataFrame by index.
3.Aggregation and Grouping:

  'df.groupby()': Group data based on one or more columns and apply aggregate
    functions.
  'df.groupby().agg()': Apply multiple aggregate functions to grouped data.
4.Applying Functions:

  'df.apply()': Apply a function to rows or columns of the DataFrame.
  'df.applymap()': Apply a function element-wise to the entire DataFrame.
5.Merging and Joining:

  'pd.concat()': Concatenate multiple DataFrames along rows or columns.
   'df.merge()': Perform database-style merging/joining of DataFrames.
6.Reshaping and Pivoting:

  'df.pivot()': Reshape data by specifying columns for rows, columns, and values.
  'df.melt()': Unpivot/melt a DataFrame from wide to long format.
7.Handling Missing Values:

  'df.dropna()': Drop rows or columns with missing values.
   'df.fillna()': Fill missing values with specified values or methods.
    
8.Transforming Data:

  'df.transform()': Apply a function to a column and broadcast the result.
9.Adding and Deleting Columns:

  'df['new_column']' = ...: Add a new column to the DataFrame.
   'del df['column_name']': Delete a column from the DataFrame.
10.Dropping Duplicates:

   'df.drop_duplicates()': Remove duplicate rows based on specified columns.
11.String Manipulation:

   'df.str.replace()': Replace text in string columns using regular expressions.
    'df.str.extract()': Extract substrings from string columns using regular expressions.
12.Time Series Operations:

    Various functions for time series manipulation like resampling, shifting, rolling mean, etc.
    
    
    Example of using a common function:
      Let's say you have a DataFrame 'sales_data' containing sales information and you want to calculate
      the total sales for each product category using the 'groupby()' and 'sum()' functions:"""
            
            
import pandas as pd

data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Sales': [100, 200, 150, 120, 180, 90]
}

sales_data = pd.DataFrame(data)

total_sales_by_product = sales_data.groupby('Product')['Sales'].sum()

print(total_sales_by_product)

Product
A    250
B    380
C    210
Name: Sales, dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [11]:
  """
    >Series is a one-dimensional array-like object that can hold any data type. It is mutable,
    >meaning that the values in a Series can be changed after it has been created.
    
    
    >DataFrame is a two-dimensional tabular data structure that can hold any data type. It is also mutable,
    >meaning that the values in a DataFrame can be changed after it has been created.
    
    
     >Panel is a three-dimensional tabular data structure that can hold any data type. 
    >It is not mutable, meaning that the values in a Panel cannot be changed after it has been created.
    
    """
    
import pandas as pd

s = pd.Series([1, 2, 3, 4])

s[0] = 10

print(s)


"""This code will create a Series with the values 1, 2, 3, and 4. The first value, 1, will be changed to 10."""



import pandas as pd

df = pd.DataFrame({
    'Name': ['John Doe', 'Jane Doe', 'John Smith'],
    'Age': [30, 25, 40]
})

df['Age'] = [40, 35, 50]

print(df)

""" This code will create a DataFrame with two columns: Name and Age. The Age column will be changed to the values 40, 35, and 50."""

0    10
1     2
2     3
3     4
dtype: int64
         Name  Age
0    John Doe   40
1    Jane Doe   35
2  John Smith   50

' This code will create a DataFrame with two columns: Name and Age. The Age column will be changed to the values 40, 35, and 50.'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

names = pd.Series(['Anjali', 'suraj', 'madhu'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)

print(df)


""" example, we first create three separate Series: names, ages, and genders. 
    Each Series represents a column of data. Then, we create a dictionary called data 
    where the keys are the column names and the values are the respective Series.
    Finally, we use the pd.DataFrame() function to create a DataFrame by passing the
    data dictionary.
    
    The resulting DataFrame df has three columns: 'Name', 'Age', and 'Gender', and each column 
         is populated with the data from the corresponding Series. This is a common way to create
         a DataFrame using multiple Series, allowing you to organize and manipulate data more effectively.
         
         """

     Name  Age  Gender
0  Anjali   25  Female
1   suraj   30    Male
2   madhu   27  Female

" example, we first create three separate Series: names, ages, and genders. \n    Each Series represents a column of data. Then, we create a dictionary called data \n    where the keys are the column names and the values are the respective Series.\n    Finally, we use the pd.DataFrame() function to create a DataFrame by passing the\n    data dictionary.\n    \n    The resulting DataFrame df has three columns: 'Name', 'Age', and 'Gender', and each column \n         is populated with the data from the corresponding Series. This is a common way to create\n         a DataFrame using multiple Series, allowing you to organize and manipulate data more effectively.\n         \n         "